
Lab/\.vs/

Lab/obj/

Lab/Properties/

Aproksim/obj/

Aproksim/Properties/

\.vs/

Source/Aproksim/obj/

Source/Aproksim/Properties/

Source/Lab/bin/

Source/Lab/obj/

Source/Lab/Properties/

Source/Aproksim/bin/
